.flex{
    display: flex;
    flex-wrap: wrap;
    &-inline{
        display: inline-flex;
    }
    &-no-wrap{
        flex-wrap: nowrap;
    }
    &-space-between{
        align-content: space-between;
        justify-content: flex-start;
    }
    &-justify-between{
        justify-content: space-between;
    }
    &-align-center{
        align-items: center;
    }
    &-justify-center{
        justify-content: center;
    }
    &-column{
        flex-direction: column;
    }
}