.m{
    @for $var from 0 to 101 {
        &-#{$var}{
            margin: #{$var / 16}rem;
        }
        &l-#{$var}{
            margin-left: #{$var / 16}rem;
        }
        &r-#{$var}{
            margin-right: #{$var / 16}rem;
        }
        &t-#{$var}{
            margin-top: #{$var / 16}rem;
        }
        &b-#{$var}{
            margin-bottom: #{$var / 16}rem;
        }
    }
    &-auto{
        margin:auto;
    }
    &l-auto{
        margin-left: auto;
    }
    &r-auto{
        margin-right: auto;
    }
    &t-auto{
        margin-top: auto;
    }
    &b-auto{
        margin-bottom: auto;
    }
    @media (min-width:576px) {
        @for $var from 0 to 101 {
            &-sm-#{$var}{
                margin: #{$var / 16}rem;
            }
            &l-sm-#{$var}{
                margin-left: #{$var / 16}rem;
            }
            &r-sm-#{$var}{
                margin-right: #{$var / 16}rem;
            }
            &t-sm-#{$var}{
                margin-top: #{$var / 16}rem;
            }
            &b-sm-#{$var}{
                margin-bottom: #{$var / 16}rem;
            }
        }
    }
    @media (min-width:768px) {
        @for $var from 0 to 101 {
            &-md-#{$var}{
                margin: #{$var / 16}rem;
            }
            &l-md-#{$var}{
                margin-left: #{$var / 16}rem;
            }
            &r-md-#{$var}{
                margin-right: #{$var / 16}rem;
            }
            &t-md-#{$var}{
                margin-top: #{$var / 16}rem;
            }
            &b-md-#{$var}{
                margin-bottom: #{$var / 16}rem;
            }
        }
    }
    @media (min-width:992px) {
        @for $var from 0 to 101 {
            &-lg-#{$var}{
                margin: #{$var / 16}rem;
            }
            &l-lg-#{$var}{
                margin-left: #{$var / 16}rem;
            }
            &r-lg-#{$var}{
                margin-right: #{$var / 16}rem;
            }
            &t-lg-#{$var}{
                margin-top: #{$var / 16}rem;
            }
            &b-lg-#{$var}{
                margin-bottom: #{$var / 16}rem;
            }
        }
    }
    @media (min-width:1200px) {
        @for $var from 0 to 101 {
            &-xl-#{$var}{
                margin: #{$var / 16}rem;
            }
            &l-xl-#{$var}{
                margin-left: #{$var / 16}rem;
            }
            &r-xl-#{$var}{
                margin-right: #{$var / 16}rem;
            }
            &t-xl-#{$var}{
                margin-top: #{$var / 16}rem;
            }
            &b-xl-#{$var}{
                margin-bottom: #{$var / 16}rem;
            }
        }
    }
    @media (min-width:1400px) {
        @for $var from 0 to 101 {
            &-xxl-#{$var}{
                margin: #{$var / 16}rem;
            }
            &l-xxl-#{$var}{
                margin-left: #{$var / 16}rem;
            }
            &r-xxl-#{$var}{
                margin-right: #{$var / 16}rem;
            }
            &t-xxl-#{$var}{
                margin-top: #{$var / 16}rem;
            }
            &b-xxl-#{$var}{
                margin-bottom: #{$var / 16}rem;
            }
        }
    }
}