.p{
    @for $var from 0 to 101 {
        &-#{$var}{
            padding: #{$var / 16}rem;
        }
        &l-#{$var}{
            padding-left: #{$var / 16}rem;
        }
        &r-#{$var}{
            padding-right: #{$var / 16}rem;
        }
        &t-#{$var}{
            padding-top: #{$var / 16}rem;
        }
        &b-#{$var}{
            padding-bottom: #{$var / 16}rem;
        }
    }
    @media (min-width:576px) {
        @for $var from 0 to 101 {
            &-sm-#{$var}{
                padding: #{$var / 16}rem;
            }
            &l-sm-#{$var}{
                padding-left: #{$var / 16}rem;
            }
            &r-sm-#{$var}{
                padding-right: #{$var / 16}rem;
            }
            &t-sm-#{$var}{
                padding-top: #{$var / 16}rem;
            }
            &b-sm-#{$var}{
                padding-bottom: #{$var / 16}rem;
            }
        }
    }
    @media (min-width:768px) {
        @for $var from 0 to 101 {
            &-md-#{$var}{
                padding: #{$var / 16}rem;
            }
            &l-md-#{$var}{
                padding-left: #{$var / 16}rem;
            }
            &r-md-#{$var}{
                padding-right: #{$var / 16}rem;
            }
            &t-md-#{$var}{
                padding-top: #{$var / 16}rem;
            }
            &b-md-#{$var}{
                padding-bottom: #{$var / 16}rem;
            }
        }
    }
    @media (min-width:992px) {
        @for $var from 0 to 101 {
            &-lg-#{$var}{
                padding: #{$var / 16}rem;
            }
            &l-lg-#{$var}{
                padding-left: #{$var / 16}rem;
            }
            &r-lg-#{$var}{
                padding-right: #{$var / 16}rem;
            }
            &t-lg-#{$var}{
                padding-top: #{$var / 16}rem;
            }
            &b-lg-#{$var}{
                padding-bottom: #{$var / 16}rem;
            }
        }
    }
    @media (min-width:1200px) {
        @for $var from 0 to 101 {
            &-xl-#{$var}{
                padding: #{$var / 16}rem;
            }
            &l-xl-#{$var}{
                padding-left: #{$var / 16}rem;
            }
            &r-xl-#{$var}{
                padding-right: #{$var / 16}rem;
            }
            &t-xl-#{$var}{
                padding-top: #{$var / 16}rem;
            }
            &b-xl-#{$var}{
                padding-bottom: #{$var / 16}rem;
            }
        }
    }
    @media (min-width:1400px) {
        @for $var from 0 to 101 {
            &-xxl-#{$var}{
                padding: #{$var / 16}rem;
            }
            &l-xxl-#{$var}{
                padding-left: #{$var / 16}rem;
            }
            &r-xxl-#{$var}{
                padding-right: #{$var / 16}rem;
            }
            &t-xxl-#{$var}{
                padding-top: #{$var / 16}rem;
            }
            &b-xxl-#{$var}{
                padding-bottom: #{$var / 16}rem;
            }
        }
    }
}