.card {
    display: inline-block;
    max-width: 100%;
    min-width: min(302px,100%);
    padding: pixelToRem(25px) pixelToRem(25px);
    border-radius: max(15px, #{pixelToRem(30px)});
    box-shadow: 0 3px 6px 0 var(--black-16);  
    border: solid 1px var(--pinkish-grey-four);
    background-color: var(--white);
    @media (min-width:1400px) {
        padding: pixelToRem(35px) pixelToRem(45px);
        
    }
}
