.input {
    width: pixelToRem(550px);
    height: pixelToRem(112px);
    max-width: 100%;
    padding: pixelToRem(30px);
    opacity: 0.85;
    border-radius: max(15px, #{pixelToRem(30px)});
    background-color: var(--pinkish-grey);
    border: 0;
    outline: none;
    position: relative;

    font-size: pixelToRem(27px);
    font-weight: normal;
    line-height: 1;
    text-align: left;
    color: var(--warm-grey-two);

    &::placeholder {
        color: var(--warm-grey-two);
    }

    &-2 {
        background-color: var(--pinkish-grey-2);
        color: var(--greyish-two);
        &::placeholder {
            color: var(--greyish-two);
        }
    }
    &[type="number"]::-webkit-inner-spin-button {
        -webkit-appearance: none;
    }
}
.contentInput {
    position: relative;
    display: inline-block;
    .icon,
    .arrows {
        position: absolute;
        top: 0;
        right: pixelToRem(20px);
        bottom: 0;
        margin: auto;
        cursor: pointer;
        .up,
        .down {
            width: pixelToRem(20px);
            height: pixelToRem(20px);
            margin: pixelToRem(5px);
            border-radius: 100%;
            // background-color: var(--white);
            display: flex;
            align-items: center;
            justify-content: center;
            &:before {
                content: "";
                width: 40%;
                height: 40%;
                border-top: 2px solid;
                border-left: 2px solid;
                transform: rotateZ(45deg);
            }
        }
        .down {
            transform: rotateZ(180deg);
        }
    }
    .overwrite {
        position: absolute;
        top: 0;
        left: 0;
        background: transparent;
        color: transparent;
        opacity: 0;
    }
}
