nav,
.nav {
    a {
        font-size: pixelToRem(30px);
        font-weight: normal;
        line-height: 2.9;
        letter-spacing: normal;
        color: var(--white);
        &:hover {
            color: var(--clear-blue);
        }
    }
}
.navLef {
    --color-menu: var(--white);
    .iconMenu {
        position: fixed;
        z-index: 9999;
        top: pixelToRem(60px);
        left: pixelToRem(47px);
        cursor: pointer;
        width: pixelToRem(57px);
        height: pixelToRem(36px);
        transition: 0.5s;
    }

    &:not(.active) {
        --color-menu: var(--midnight-blue);
        .menu {
            transform: translateX(-100%);
        }
    }
    .menu {
        position: fixed;
        top: 0;
        left: 0;
        width: pixelToRem(570px);
        max-width: 100%;
        height: 100%;
        z-index: 999;
        box-shadow: 10px 2px 3px 0 var(--black-16);
        
        @extend .bg-gradient;
        background-position: center left,center center;
        padding: pixelToRem(60px) pixelToRem(47px);
        overflow: auto;
        transition: 0.5s;

        &::-webkit-scrollbar {
            width: 5px;
        }

        &::-webkit-scrollbar-track {
            background: transparent;
        }

        &::-webkit-scrollbar-thumb {
            background-color: var(--white);
            border-radius: 10px;
            border: none;
        }

        a {
            text-decoration: none;
        }
        .top {
            padding-left: pixelToRem(84px);
            border-bottom: solid 1px var(--warm-grey);
            text-align: right;
        }
        .navigationMenu {
            padding: pixelToRem(50px) pixelToRem(34px);
            padding-bottom: 0;
            .ulFirst {
                padding: 0;
            }
            ul {
                cursor: pointer;
                margin: 0;
                list-style: none;
                ul {
                    height: 0;
                    transform: scaleY(0);
                    transition: 0.5s;
                    transform-origin: center top;
                    @media (max-width:767px) {
                        padding-left: 15px;
                    }
                }
                li{
                    position: relative;
                    .icon{
                        position: absolute;
                        right: 5px;
                        top: pixelToRem(40px);
                        width: pixelToRem(20px);
                        transition: .5s;
                    }
                }
                li.active {
                    > ul {
                        height: auto;
                        transform: scaleY(1);
                    }
                    > .icon {
                        transform: rotateZ(180deg);
                    }
                }
            }
        }
        .down {
            text-align: right;
            border-top: solid 1px var(--warm-grey);
        }
    }
}
body{
    &.activeMenu{
        @media (min-width:992px) {
            padding-left: pixelToRem(570px);
        }
    }
    &:not(.activeMenu){
        .iconMenu{
            left: pixelToRem(20px);

        }
        @media (min-width: 1400px) {
            .iconMenu{
                left: pixelToRem(80px);
    
            }
        }
    }
}