/* ===== Scrollbar CSS ===== */
/* Firefox */
* {
    scrollbar-width: auto;
    scrollbar-color: var(--dusk) var(--pinkish-grey-three);
}

/* Chrome, Edge, and Safari */
*::-webkit-scrollbar {
    width: 16px;
}

*::-webkit-scrollbar-track {
    background: var(--pinkish-grey-three);
}

*::-webkit-scrollbar-thumb {
    background-color: var(--dusk);
    border-radius: 10px;
    border: 3px solid var(--pinkish-grey-three);
}
